<div class="yh-footer">

	<div class="yh-footer-icon-c yh-footer-logo-c">
		<div class="yh-footer-logo" ng-if="!showUp">70X</div>
		<div ng-click="onClickUp()" class="yh-footer-logo ion-android-arrow-up" ng-if="showUp"></div>
	</div>
	<div ng-click="onClickHome()" class="yh-footer-icon-c">
		<div class="ion-ios-home-outline yh-footer-icon"></div>
		<div class="yh-footer-name">home</div>
	</div>

	<div ng-click="onClickOrderHistory()" class="yh-footer-icon-c">
		<div class="ion-ios-list-outline yh-footer-icon"></div>
		<div class="yh-footer-name">My orders</div>
	</div>

	<div ng-click="onClickMe()" class="yh-footer-icon-c">
		<div class="ion-ios-contact-outline yh-footer-icon"></div>
		<div class="yh-footer-name">me</div>
	</div>

</div>
