<div class="yh-bottom">
	<div class="yh-bottom-box">
		<div class="yh-bottom-title">us</div>
		<div class="yh-bottom-link">
			<div>about us</div>
			<div>careers</div>
			<div>become a rider</div>
			<div>shop signup</div>
			<div>about us</div>
		</div>
	</div>

	<div class="yh-bottom-box">
		<div class="yh-bottom-title">legal</div>
		<div class="yh-bottom-link">
			<div>about us</div>
			<div>careers</div>
			<div>become a rider</div>
			<div>shop signup</div>
			<div>about us</div>
		</div>
	</div>

	<div class="yh-bottom-box">
		<div class="yh-bottom-title">help</div>
		<div class="yh-bottom-link">
			<div>about us</div>
			<div>careers</div>
			<div>become a rider</div>
			<div>shop signup</div>
			<div>about us</div>
		</div>
	</div>
</div>