<div class="yh-payment-success">
	<div  class="yh-payment-success-c">

		<div class="yh-payment-success-w">
			<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
			<div class="yh-payment-success-message">Payment successful</div>
			
			<div  class="yh-payment-success-links yh-payment-success-keep-shopping-link">
				<div ng-click="onClickKeepShopping()">Keep shopping</div>
			</div>
			<div class="yh-payment-success-links">
				<div ng-click="onClickViewHistory()">View your order history</div>
			</div>
		</div>
		
	</div>
</div>
