<div class="hw-site-bottom">
    <ul class="hw-footer__accordion--content" aria-hidden="true" role="list" aria-labelledby="footer-accordion1">
        <li class="hw-footer__accordion--content-item d-flex justify-content-between">
            <div href="https://order.ikea.com/ie/en/history/#/lookup" class="hw-footer__link--white">Where’s my order?</div>
            <div class="ion-android-add"></div>
        </li>
        <li class="hw-footer__accordion--content-item d-flex justify-content-between">
            <div href="https://www.ikea.com/ie/en/customer-service/returns-claims/return-policy/" class="hw-footer__link--white">Return policy</div>
            <div class="ion-android-add"></div>
        </li>
        <li class="hw-footer__accordion--content-item d-flex justify-content-between">
            <div href="https://www.ikea.com/ie/en/customer-service/ikea-gift-cards-pubf8c9cba1" class="hw-footer__link--white">Gift cards</div>
            <div class="ion-android-add"></div>
        </li>
        <li class="hw-footer__accordion--content-item d-flex justify-content-between">
            <div href="https://www.ikea.com/ie/en/customer-service/contact-us/" class="hw-footer__link--white">Contact us</div>
            <div class="ion-android-add"></div>
        </li>
        <li class="hw-footer__accordion--content-item d-flex justify-content-between">
            <div href="https://www.ikea.com/ie/en/customer-service/feedback-pubc6fee160" class="hw-footer__link--white">Feedback</div>
            <div class="ion-android-add"></div>
        </li>
        <li class="hw-footer__accordion--content-item d-flex justify-content-between">
            <div href="https://www.ikea.com/ie/en/customer-service/feedback-pubc6fee160" class="hw-footer__link--white">Terms & Conditions</div>
            <div class="ion-android-add"></div>
        </li>
    </ul>
</div>
