<div>
	<div><input ng-model="model.name" class="yh-input" type="" name="" placeholder="Name"></div>
	<div><input ng-model="model.tel" class="yh-input" type="" name="" placeholder="Tel" ng-keyup="onKeyup()"></div>
	<div><input ng-model="model.streetAddress" class="yh-input" type="" name="" placeholder="Street address"></div>
	<div><input ng-model="model.city" class="yh-input" type="" name="" placeholder="City"></div>
	<div><input ng-model="model.country" class="yh-input" type="" name="" placeholder="County"></div>
	<div><input ng-model="model.postCode" class="yh-input" type="" name="" placeholder="Postcode"></div>
	<div><input ng-model="model.additionalInfo" class="yh-input" type="" name="" placeholder="Additional Info"></div>
</div>