<div class="yh-spending-graph" style="width: 100%; padding: 10px;">
	<div class="yh-spending-graph-total" style="text-align: center;">
		<div>{{ data.total }}</div>
	</div>
	<div style="text-align: center;margin-bottom: 30px;">
		<div>{{ title }}</div>
		<div>{{ data.data.length }} Items</div>
		<div class="yh-btn-outline" ng-click="onClickToggle()">{{ detail.text }}</div>
	</div>
	<div ng-show="detail.visibility" class="yh-spending-graph-item d-flex align-items-center" ng-repeat="s in data.data track by $index">
		<div class="yh-spending-graph-name-container" style="
			text-align: right; 
			padding-right: 10px;
			width: 120px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		">
			{{ s.name }}
		</div>
		<div class="flex-grow-1">
			<div class="d-flex align-items-center">
				<div class="yh-gap-right-5" style="font-size: 0.7rem;">{{ s.total }}</div>
				<div ng-show="$index % 9 === 0 && $index !== 0" style="width: 8px; height: 8px; background-color: green; border-radius: 4px;"></div>
			</div>
			<div class="yh-spending-graph-bar" ng-style="s.style"></div>
		</div>
	</div>
</div>