<div class="yh-edit-orders-c yh-page">
	<h2>Edit Order</h2>
	<div>
		<input class="yh-input" type="" ng-model="data.name" name="" placeholder="name">
	</div>

	<div ng-show="data.priceBreak.length" class="yh-edit-order-price-break">
		<div ng-repeat="p in data.priceBreak" class="d-flex justify-content-between">
			<div ng-repeat="part in p">
				<div>{{ part }}</div>
			</div>
		</div>
	</div>

	<!-- split order section -->
	<div class="yh-edit-split" ng-show="showSplitView" class="yh-edit-order-price-break">
		<h3>Split Orders</h3>
		<div ng-click="onClickSeletSplitItem(p)" ng-class="{'selected': p.selected}" ng-repeat="p in splitData" class="yh-edit-orders-split-item d-flex justify-content-between">
			<div ng-repeat="part in p.data">
				<div>{{ part }}</div>
			</div>
		</div>
		<div class="yh-edit-split-options">
			<div class="yh-btn yh-btn-cancle" ng-click="onClickCancleSplit()">Cancle</div>
			<div class="yh-btn" ng-click="onClickConfirmSplit()">Confirm Split</div>
		</div>
	</div>
	<!-- end of split order section -->


	<div>
		<input class="yh-input" type="" ng-model="data.price" name="" placeholder="price">
	</div>
	<div>
		<input class="yh-input" type="date" name="" ng-model="data.dateTime" placeholder="order date (2020-01-02 11:37:04)">
	</div>
	<div>
		<textarea class="yh-input" ng-model="data.description"></textarea>
	</div>
	
	<div class="yh-edit-orders-options">
		<button ng-click="onClickPreview()" class="yh-btn">Preview</button>
		<button ng-click="onClickSave()" class="yh-btn">Save</button>
		<button ng-click="onClickSplit()" class="yh-btn">Split</button>
		<button ng-click="onClickCancel()" class="yh-btn yh-btn-cancle">cancel</button>
		<button ng-click="onClickDelete(data.id)" class="yh-btn yh-red">Delete Order</button>
	</div>

</div>