<div class="yh-filter-c" ng-class="display">
	<div class="yh-filter-w">
		<div class="yh-filter">
			<div class="d-flex justify-content-between align-items-center">
				<div class="yh-title yh-filter-title">Filter</div>
				<div ng-click="onClickClear()">clear</div>
			</div>
			<div class="yh-filter-list">

				<div ng-repeat="(type, items) in model.filterSorterTemplate">
					<div class="yh-filter-sections">
						<div class="yh-filter-type-title">{{items.label}}</div>
						<div ng-repeat="g in items.group">

							<div class="yh-filter-item" ng-repeat="i in g.items">
								<div class="yh-filter-item-pro" ng-click="onClickFilterSorterItem(i, g)">{{i.label}}</div>
								<div ng-show="i.selected" class="yh-filter-item-control ion-android-checkmark-circle"></div>
							</div>

						</div>
					</div>
				</div>


			</div>
			<div class="yh-btn yh-filter-apply-btn" ng-class="applySpin" ng-click="onClickApply($event)">
				<div ng-show="!applySpin">Apply</div>
				<div class="spinner" ng-show="applySpin"></div>
			</div>
		</div>
	</div>
	<div ng-click="onClickFilterMask();" class="yh-filter-mask"></div>
</div>