.hw-product-item{
	padding: 20px;
	min-height: 200px;
	box-shadow: 10px 10px 20px #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

.hw-product-item-name{
	font-size: 1.6rem;
}
.hw-product-item-spec{
	font-size: 0.8rem;
	margin-top: 5px;
}

.hw-product-item-footer{
	margin-top: 20px;
}