.hw-pd-color-item-c{
	width: 50%;
}
.hw-pd-color-list{
	min-height: 260px;
}
.hw-pd-color-item{
	margin: 5px;
	border: 1px solid #eee;
	height: 100px;
	border-radius: 4px;
	&.selected {
		border: 1px solid $red;
		background-color: #f6f6f6;
	}
}