<div class="yh-add-orders-c yh-page">
	<h2>Add Orders</h2>
	
	<div>
		<input class="yh-input yh-add-order-name" disabled="true" type="" ng-model="data.name" name="" placeholder="name">
	</div>
	<div>
		<input class="yh-input" type="" ng-model="data.price" disabled="true" name="" placeholder="price">
	</div>
	<div>
		<input class="yh-input" type="date" name="" ng-model="data.dateTime" placeholder="date">
	</div>
	<div ng-show="priceBreak.length" class="yh-add-order-price-break">
		<div ng-repeat="p in priceBreak" class="d-flex justify-content-between">
			<div ng-repeat="part in p">
				<div>{{ part }}</div>
			</div>
		</div>
	</div>
	<div>
		<textarea class="yh-input yh-add-order-description" ng-model="data.description"></textarea>
	</div>
	<div>
	</div>
	<div class="">
		<div>
			<button class="yh-btn" ng-click="onClickPreview()">Preview</button>
		</div>
		<div>
			<button ng-click="onClickSave()" class="yh-btn">Save</button>
		</div>
		<div>
			<div ng-click="onClickCancel()" class="yh-btn yh-btn-cancle">Cancel</div>
		</div>
	</div>

</div>
