.hw-add-orders-c{
	textarea{
		height: 200px;
	}

	.hw-btn {
		width: 100%;
		padding: 15px;
		margin-bottom: 20px;
	}

	.hw-add-order-price-break{
		background-color: #fafafa;
		border-radius: 4px;
		padding: 5px;
		margin-bottom: 20px;
	}
}