.hw-edit-orders-c{
	.hw-btn {
		width: 100%;
		padding: 15px;
		margin-bottom: 20px;
	}
	.hw-red{
		margin-top: 500px;
	}
	.hw-edit-order-price-break{
		background-color: #fafafa;
		border-radius: 4px;
		padding: 5px;
		margin-bottom: 20px;
	}

	textarea{
		border: 1px solid #ccc;
		height: 200px;
	}
}

.hw-edit-split{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width :100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 990;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.95);
	h3{
		margin-bottom: 30px;
	}
	.selected{
		background-color:#eee;
	}
	.hw-edit-orders-split-item{
		padding: 5px 5px;
	}
	.hw-edit-split-options{
		margin-top: 100px;
	}
}