.hw-site-bottom{
	margin-left: auto;
	margin-right: auto;
	width: $dt_page_width;
	background-image: linear-gradient(top,#101013,#3b3d40);
	background-image: -webkit-linear-gradient(top,#101013,#3b3d40);
	background-image: -o-linear-gradient(top,#101013,#3b3d40);
	background-image: -ms-linear-gradient(top,#101013,#3b3d40);
	background-image: -moz-linear-gradient(top,#101013,#3b3d40);
	padding: 20px;

	.hw-footer__accordion--content{
		color: #fff;
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		li {
			list-style: none;
			// border-bottom: 1px solid #fff;
			padding: 5px 0;
			display: block;
		}
	}
}
