<ul id="footer-accordion-section1" class="footer__accordion--content" aria-hidden="true" role="list" aria-labelledby="footer-accordion1">
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/" class="footer__link--white">Customer services</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/faq/" class="footer__link--white">FAQs</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://order.ikea.com/ie/en/history/#/lookup" class="footer__link--white">Where’s my order?</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/returns-claims/return-policy/" class="footer__link--white">Return policy</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/ikea-gift-cards-pubf8c9cba1" class="footer__link--white">Gift cards</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/contact-us/" class="footer__link--white">Contact us</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/feedback-pubc6fee160" class="footer__link--white">Feedback</div>
    </li>
    <li class="footer__accordion--content-item">
        <div href="https://www.ikea.com/ie/en/customer-service/feedback-pubc6fee160" class="footer__link--white">Terms & Conditions</div>
    </li>
</ul>