<div class="yh-menu">
	<div class="yh-menu-list" ng-class="{'show':show}">
		<button class="yh-menu-logo">YY</button>
		<div class="yh-menu-item flex" ng-click="onClickBatchAdd()">
			<div class="icon ion-android-clipboard"></div>
			<div>Batch Add</div>
		</div>

		<div class="yh-menu-item flex" ng-click="onClickDataAnaytics()">
			<div class="icon ion-arrow-graph-up-right"></div>
			<div>Data Analytics</div>
		</div>

		<div class="yh-menu-item flex" ng-click="onClickArchived()">
			<div class="icon ion-android-archive"></div>
			<div>Archived</div>
		</div>

		<div class="yh-menu-item flex" ng-click="onClickHermes()">
			<div class="icon ion-bag"></div>
			<div>Hermes</div>
		</div>
	</div>
	<div ng-click="onClickMenuMask()" ng-class="{'show':show}" class="yh-menu-mask"></div>
</div>