<!-- MAIN CARDS -->
<div class="hw-header d-flex justify-content-center">
	<div class="ion-ios-arrow-back hw-back" ng-click="onClickBack()"></div>
	<div>Your Bag</div>
</div>

<div class="hw-page hw-bag-page">
	<div ng-if="bagService.isEmpty()">No Items in the bag!</div>

	<!-- display section -->
	<div ng-repeat="i in bagService.bag.data track by $index" class="hw-bag-item hw-fade-in hw-fade-out">
		<div class="d-flex hw-gap-bottom-20">
			<div style="
			height: 60px; 
			width: 50px; 
			background-color: #ccc; 
			margin-right: 10px; 
			background-size: cover; 
			border-radius: 4px;
			background-image: url({{ i.imgUrl  }})"></div>
			<div style="width: 100%;">
				<div class="d-flex justify-content-between">
					<div>
						{{ i.name }}
					</div>
					<div>{{ i.color }}</div>
					<div>
						€{{ i.rrp }}
					</div>
				</div>
				<div ng-repeat="(k, v) in i.selectedSpec">{{ v }}</div>
				<div class="d-flex justify-content-end">
					<div ng-click="onClickRemove(i.id)" class="hw-main-color hw-small-text">Remove</div>
				</div>
			</div>
		</div>
	</div>

	<!-- subtotla info section -->
	<div style="margin-top: 20px; padding: 10px 10px; background-color: #f6f6f6;">
		<div class="d-flex justify-content-between hw-strong">
			<div>
				Subtotal: 
			</div>
			<div>
				€{{bagService.bag.subtotal}} 
			</div>
		</div>
		<div>
			Includes VAT of
		</div>
		<div style="color: #aaa;">Shipping is FREE.</div>
	</div>

	<!-- button section -->
	<div>
		<div class="hw-btn hw-btn-large" ng-click="onClickContinueShopping()" style="margin-top: 20px;">
			<span class="ion-ios-arrow-back"></span> continue shopping
		</div>

		<div 
			class="hw-btn hw-btn-large" 
			ng-click="onClickPay()" 
			ng-class="{'hw-btn-disabled': bagService.isEmpty()}"
			style="margin-top: 20px;">
			Buy with Huawei pay <span class="ion-ios-arrow-forward"></span>
		</div>
	</div>
</div>






