<!-- MAIN CARDS -->
<div class="hw-header d-flex justify-content-center">
	<div class="ion-ios-arrow-back hw-back" ng-click="onClickBack()"></div>
	<div>Your Cart</div>
</div>

<div class="hw-page hw-checkout-page">
	<form>
		<div>
			<div>Card name</div>
			<input maxlength="50" class="hw-input" type="" name="" ng-model="data.cardName">
		</div>
		
		<div>
			<div>Card number</div>
			<input maxlength="16" class="hw-input" type="" name="" ng-model="data.cardNum">
		</div>

		<div>
			<div>Expiry date</div>
			<div class="d-flex align-items-center">
				<input maxlength="2" class="hw-input" type="" name="" placeholder="month" ng-model="data.expiryDate.month">
				<div class="hw-input">/</div>
				<input maxlength="2" class="hw-input" type="" name="" placeholder="year" ng-model="data.expiryDate.year">
			</div>
		</div>

		<div >
			<div>
				<div>CVC</div>
				<div>
					<input maxlength="3" class="hw-input" type="" name="" ng-model="data.cvc">
				</div>
			</div>
			
		</div>

		<div class="hw-gap-bottom-20" style="background-color: #f6f6f6;
    		padding: 10px;
    		border-radius: 4px;">
			<div class="hw-strong">
				Deliver Address: 
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<div class="hw-capitalize hw-gap-right-20">
					{{ addressService.getAddressDisplay(); }}
				</div>
				<div ng-click="onClickEditAddress()">Edit</div>
			</div>
		</div>

	
	</form>
	<div>
		<div ng-click="onClickPay()" class="hw-btn hw-checkout-pay-btn">Pay €{{ bagService.bag.subtotal }}</div>
	</div>

</div>






