<!-- MAIN CARDS -->
<div class="hw-header d-flex justify-content-center">
	<div class="ion-ios-arrow-back hw-back" ng-click="onClickBack()"></div>
	<div>Your Cart</div>
</div>

<div class="hw-page hw-checkout-page">
	<form>
		<div>
			<div>
				Card name
			</div>
			<input maxlength="50" class="hw-input" type="text" name="" ng-model="data.cardName.val">
		</div>
		<div>
			<span class="hw-error-mes" ng-show="data.cardName.error.length">Invalid name.</span>
		</div>
		
		<div>
			<div>Card number</div>
			<input 
				hw-num-only-input
				maxlength="16" 
				class="hw-input" 
				type="text" 
				name="" 
				ng-model="data.cardNum.val">
		</div>
		<span class="hw-error-mes" ng-show="data.cardNum.error.length">Invalid card number.</span>

		<div>
			<div>
				Expiry date
			</div>
			<div class="d-flex align-items-center">
				<div>
					<input
						hw-num-only-input
						maxlength="2" 
						class="hw-input" 
						type="text" name="" placeholder="month" ng-model="data.expiryMonth.val">
				</div>
				<div class="hw-input">/</div>
				<div>
					<input 
						hw-num-only-input
						maxlength="2" 
						class="hw-input" 
						type="text" name="" placeholder="year" ng-model="data.expiryYear.val">
				</div>
			</div>
			<div>
				<span class="hw-error-mes" ng-show="data.expiryMonth.error.length">Invalid month.</span>
				<span class="hw-error-mes" ng-show="data.expiryYear.error.length">Invalid year.</span>
			</div>
		</div>

		<div >
			<div>
				<div>CVC</div>
				<div>
					<input 
						hw-num-only-input
						maxlength="3" 
						class="hw-input" type="text" name="" ng-model="data.cvc.val">
				</div>
				<span class="hw-error-mes" ng-show="data.cvc.error.length">Invalid.</span>
			</div>
			
		</div>

		<div class="hw-gap-bottom-20" style="background-color: #f6f6f6;
    		padding: 10px;
    		border-radius: 4px;">
			<div class="hw-strong">
				Deliver Address: 
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<div class="hw-capitalize hw-gap-right-20">
					{{ addressService.getAddressDisplay(); }}
				</div>
				<div ng-click="onClickEditAddress()">Edit</div>
			</div>
		</div>

	
	</form>
	<div>
		<div ng-click="onClickPay()" class="hw-btn hw-checkout-pay-btn">Pay €{{ bagService.bag.subtotal }}</div>
	</div>

</div>






