<!-- MAIN CARDS -->
<div class="hw-header d-flex justify-content-center">
	<div>Huawei Shop</div>
</div>

<div class="hw-page hw-product-page">
	<div class="hw-product-list">
		<div class="hw-product-list-c">
			<div ng-click="onClickItem(p)" class="hw-product-item" ng-repeat="p in productService.getProducts()">
				<div class="hw-product-item-name">{{ p.name }} {{ p.model !== p.name ? p.model : '' }}</div>
				<div class="hw-product-item-spec">
					<div ng-repeat="s in p.spec">{{ s }}</div>
				</div>

				<div class="hw-product-item-footer d-flex justify-content-between align-items-center">
					<div>€{{p.rrp}}</div>
					<div class="hw-btn">BUY</div>
				</div>
			</div>
		</div>
	</div>
</div>






