<!-- MAIN CARDS -->
<div ng-if="showHeader" class="hw-header">
	<div class="hw-header-content  d-flex justify-content-between align-items-center">
		<div class="hw-logo">
			
		</div>
		<div class="d-flex justify-content-end">
			<!-- <div ng-mouseover="onMouseover()"  class="hw-header__navi-items">Products</div> -->
			<div class="hw-header__navi-items" ng-click="onClickProjects()">Our Projects</div>
			<div class="hw-header__navi-items" ng-click="onClickProducts()">Our Products</div>
			<div class="hw-header__navi-items" ng-click="onClickNewsEvt()">News & Events</div>
			<div class="hw-header__navi-items" ng-click="onClickAboutUs()">About us</div>
			<div class="hw-header__navi-items" ng-click="onClickContactUs()">Contact us</div>
		</div>

		<div class="hw-products-drop-down" ng-show="showProducts">products</div>
	</div>
</div>

<!-- revert header -->
<div ng-show="showRevertHeader" class="hw-header hw-header-revert">
	<div class="hw-header-content  d-flex justify-content-between align-items-center">
		<div class="hw-logo">
			
		</div>
		<div class="d-flex justify-content-end">
			<!-- <div ng-mouseover="onMouseover()"  class="hw-header__navi-items">Products</div> -->
			<div class="hw-header__navi-items" ng-click="onClickProjects()">Our Projects</div>
			<div class="hw-header__navi-items" ng-click="onClickProducts()">Our Products</div>
			<div class="hw-header__navi-items" ng-click="onClickNewsEvt()">News & Events</div>
			<div class="hw-header__navi-items" ng-click="onClickAboutUs()">About us</div>
			<div class="hw-header__navi-items" ng-click="onClickContactUs()">Contact us</div>
		</div>
	</div>
</div>


<div class="hw-page hw-product-page">
	<div class="hw-page-blk hw-main-blk">
		<div class="hw-slide-show"></div>
	</div>

	<div class="hw-page-blk">
		
		<div class="hw-page-content hw-projects hw-gap-top-20">
			<div class="hw-page-title">Our Projects</div>
			<div class="hw-projects-wrap d-flex justify-content-between flex-wrap">
				<div class="hw-projects-item">
					<!-- <div>Huawei</div> -->
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">Huawei</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies </div>
				</div>
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name" >Intel</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies </div>

				</div>
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">Anorts</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies </div>

				</div>
			</div>
			<div class="d-flex justify-content-between flex-wrap">
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">Aviva</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful 
						shy believed distance use nay. Lively is people so basket ladies </div>

				</div>
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">RTE</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful 
						shy believed distance use nay. Lively is people so basket ladies </div>
				</div>
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">Google</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful 
						shy believed distance use nay. Lively is people so basket ladies </div>
				</div>
			</div>
			<div class="d-flex justify-content-between">
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">AIB</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful 
						shy believed distance use nay. Lively is people so basket ladies </div>
				</div>
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">AIB</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful 
						shy believed distance use nay. Lively is people so basket ladies </div>
				</div>
				<div class="hw-projects-item">
					<div class="hw-project-item-parterner-img"></div>
					<div class="hw-project-item-parterner-name">City Concil</div>
					<div class="hw-project-item-partner-detail">Am terminated it excellence invitation projection as. She graceful 
						shy believed distance use nay. Lively is people so basket ladies </div>
				</div>
			</div>
		</div>
	</div>


	<div class="hw-page-blk">
		<div class="hw-page-content hw-products hw-gap-top-20">
			<div class="hw-page-title">Products</div>
			<div class="hw-products-content-wrap">
				<div class="hw-products-drop-down-row d-flex justify-content-between">
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title" on-click="onClick ">P4</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P5</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P8</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="hw-products-drop-down-row d-flex justify-content-between">
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title" on-click="onClick ">P4</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P5</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P8</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hw-products-drop-down-row d-flex justify-content-between">
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title" on-click="onClick ">P4</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P5</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P8</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hw-products-drop-down-row d-flex justify-content-between">
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title" on-click="onClick ">P4</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P5</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P8</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hw-products-drop-down-row d-flex justify-content-between">
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title" on-click="onClick ">P4</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P5</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P8</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hw-products-drop-down-row d-flex justify-content-between">
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title" on-click="onClick ">P4</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P5</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
					<div class="hw-products-drop-down-row-cell d-flex align-items-center">
						<div class="hw-products-drop-down-cell-image-wrap">
							<img class="hw-products-drop-down-cell-image" ng-src="img/sample-2.png" alt="single p4 led panel and what it looks like from back">
						</div>
						<div>
							<div class="hw-product-drop-down-title">P8</div>
							<div class="hw-product-drop-down-spec d-flex justify-content-between flex-column">
								<div class="hw-product-drop-down-spec-item">Pixel spacing: 4mm</div>
								<div class="hw-product-drop-down-spec-item">Width: 400mm</div>
								<div class="hw-product-drop-down-spec-item">Height: 400mm</div>
							</div>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</div>


	<div class="hw-page-blk">
		
		<div class="hw-page-content hw-news-evt hw-gap-top-20">
			<div class="hw-page-title">News & Events</div>
			<div class="hw-news-evt-content-wrap">
				<div class="hw-news-evt-row d-flex justify-content-between">
					<div class="hw-news-evt-item">
						<div><img ng-src="./img/sample-3.jpg" alt=""></div>
						<div class="hw-news-evt-item-title">Break through high definition energy saving by 50%</div>
						<div>
							<div class="hw-news-evt-item-date">12-12-2020</div>
						</div>
					</div>
					<div class="hw-news-evt-item">
						<div><img ng-src="./img/sample-4.jpg" alt=""></div>
						<div class="hw-news-evt-item-title">One more major partner joined Loeasy group.</div>
						<div>
							
							<div class="hw-news-evt-item-date">12-12-2020</div>
						</div>
					</div>
					
				</div>

				<div class="hw-news-evt-row d-flex justify-content-between">
					<div class="hw-news-evt-item">
						<div><img ng-src="./img/sample-3.jpg" alt=""></div>
						<div class="hw-news-evt-item-title">Break through high definition energy saving by 50%</div>
						<div>
							<div class="hw-news-evt-item-date">12-12-2020</div>
						</div>
					</div>
					<div class="hw-news-evt-item">
						<div><img ng-src="./img/sample-4.jpg" alt=""></div>
						<div class="hw-news-evt-item-title">One more major partner joined Loeasy group.</div>
						<div>
							
							<div class="hw-news-evt-item-date">12-12-2020</div>
						</div>
					</div>
					
				</div>

				<div class="hw-news-evt-row d-flex justify-content-between">
					<div class="hw-news-evt-item">
						<div><img ng-src="./img/sample-3.jpg" alt=""></div>
						<div class="hw-news-evt-item-title">Break through high definition energy saving by 50%</div>
						<div>
							<div class="hw-news-evt-item-date">12-12-2020</div>
						</div>
					</div>
					<div class="hw-news-evt-item">
						<div><img ng-src="./img/sample-4.jpg" alt=""></div>
						<div class="hw-news-evt-item-title">One more major partner joined Loeasy group.</div>
						<div>
							
							<div class="hw-news-evt-item-date">12-12-2020</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>


	<div class="hw-page-blk">
		
		<div  class="hw-page-content hw-about-us">
			<h3 class="hw-page-title">
				About Us
			</h3>
			<!-- <div style="width: 50%;">
				<img style="width: 100%;" ng-src="./img/about-us.jpg" alt="loeasy uniform with its logo over the chest area">
			</div> -->
			<div style="width: 100%; background-color: #fff; padding: 30px;">
				<div style="width:100%">
					<p  style="font-size: 0.9rem;">
						LoEasy Technology Ltd is established as of May 2018 as a China-Ireland joint enterprise. With a successful and long standing business in China, installing and exporting Qiang Li LED screens around the world we are investing in Ireland with a long term view to building a strong business through the most outstanding customer service, delivering the highest quality products and at competitive pricing.Our showroom on The Long Mile Road Dublin 12 allows customers to experience our range of products from large high resolution screens to small single colour LED displays. We will use the best LED display products and the most professional installation and sales support experience to bring you the highest quality and most recent world leading technology to the Irish, UK and European market.
					</p>
				</div>
				<div style="width: 100%;">
					<div style="font-size: 0.9rem;">
						<div>
							<div class="commitment-sub-title" style="font-weight: bold; margin-top: 15px;">
								Quality Assurance
							</div>
							<div>
								We supply Qiang Li LED screens, the most widely used large LED screens around the world. When comparing brightness, 
								performance and longevity Qiang Li are the best in the world.
							</div>
						</div>

						<div>
							<div class="commitment-sub-title" style="font-weight: bold; margin-top: 15px;">
								Technical Expertise
							</div>
							<div>
								Our installation team have years of experience on major LED screen installation projects. 
								Our customers can rest easy knowing that they are dealing with professionals for both the installation and after-sales support.
							</div>
						</div>

						<div>
							<div class="commitment-sub-title" style="font-weight: bold; margin-top: 15px;">
								Cost Effective
							</div>
							<div>
								Digital displays are a very effective way of gaining more customers. It is a proven channel to improve engagement and sales results. 
								We can supply LED screens to suit every budget and will deliver dynamic displays that get the results you require.
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="hw-page-blk">
		
		<div class="hw-page-content hw-contact hw-gap-top-20">
			<div class="hw-page-title">Contact Us</div>
			<div class="d-flex">
				<div  class="hw-contact-detail">
					<div class="d-flex">
						<div class="ion-ios-email-outline hw-gap-right-20"></div>
						<div>Email</div>
					</div>
					<div class="d-flex">
						<div class="ion-ios-telephone-outline hw-gap-right-20"></div>
						<div>
							Tel: 010099887
						</div>
					</div>
					<div class="d-flex">
						<div class="ion-ios-location-outline hw-gap-right-20"></div>
						<div>
							Address: Unit 5, 60A The Long Mile Centre, Long Mile Rd, Dublin, D12 AXV7
						</div>
					</div>
				</div>
				<div style="width: 70%" class="hw-contact-map">
					<div>
						<img style="width: 100%" ng-src="./img/loeasy-location-map.png" alt="map showing where loeasy is">
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>









 