<!-- MAIN CARDS -->
<div class="hw-header d-flex justify-content-center">
	<div class="ion-ios-arrow-back hw-back" ng-click="onClickBack()"></div>
	<div>Select your model</div>
</div>

<div class="hw-page hw-product-detail-page">
	<div class="hw-h1 hw-gap-bottom-20">{{ data.name }}</div>
	<div class="hw-h3">Pick your color</div>
	<div class="hw-pd-color-list d-flex justify-content-between">
		<div class="hw-pd-color-item-c" ng-repeat="c in data.colorOptions">
			<div ng-click="onClickColorItem(c)" ng-class="{'selected': c.selected}" class="hw-pd-color-item d-flex justify-content-center align-items-center">
				<div class="d-flex flex-column align-items-center">
					<div style="height: 20px; width: 20px; border-radius: 10px; border: 1px solid #ccc; background-color: {{ c.val  }}"></div>
					<div style="margin-top: 5px;">
						{{ c.val }}
					</div>
					<div>{{ c.ref }}</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="">
		<!-- <div class="hw-btn hw-btn-large" ng-click="onClickBack()">Keep shopping</div> -->
		<div class="hw-btn hw-btn-large hw-gap-top-20" ng-click="onClickAdd()">
			<span class="ion-bag"></span>
			<span>
				add to bag
			</span>
		</div>
	</div>
</div>






